{% extends 'Home_layout.html' %}
{% load static %}
{% block smsmain %}
<!-- es -->

<div class="container-fluid">
    <div class="row main-content-wrap">

        <!-- main content -->
        <div class="main-content col-lg-12">


            <div id="content" role="main">

                <article class="post-2648 page type-page status-publish hentry">

                    <span class="entry-title" style="display: none;">About Jaipuria Group</span><span class="vcard"
                        style="display: none;"><span class="fn"><a
                                href="https://jaipuriaschoolsbarabanki.com/author/admin/" title="Posts by admin"
                                rel="author">admin</a></span></span><span class="updated"
                        style="display:none">2024-01-13T06:13:14+00:00</span>
                    <div class="page-content">
                        <div class="vc_row wpb_row porto-inner-container">
                            <div class="porto-wrap-container container">
                                <div class="row">
                                    <div class="vc_column_container col-md-12">
                                        <div class="wpb_wrapper vc_column-inner">
                                            <div class="vc_empty_space" style="height: 32px"><span
                                                    class="vc_empty_space_inner"></span></div>
                                            <div class="vc_row wpb_row vc_inner row">
                                                <div class="vc_column_container col-md-8">
                                                    <div class="wpb_wrapper vc_column-inner">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p><strong class="enq_btn"
                                                                        style="color: #fff; font-size: 14px;"><a
                                                                            class="btnn" href="https://jaipuria.edu.in/"
                                                                            target="_blank" rel="noopener">Jaipuria
                                                                            Group Website</a></strong><br>
                                                                    <span
                                                                        style="font-size: 17px; color: #0058a9;"><strong>About
                                                                            Jaipuria Group</strong></span>
                                                                </p>
                                                                <p style="text-align: justify;"><span
                                                                        style="font-size: 17px; color: #000000;">Seth
                                                                        Anandram Jaipuria Group of Educational
                                                                        Institutions is a leading conglomerate of 16
                                                                        K-12 schools, 5 preschools, 2 management
                                                                        institutes and a premier teachers’ training
                                                                        academy in north and central India. The group
                                                                        has a legacy of 78 years in the field of
                                                                        education and presently has the strength of
                                                                        20,000 students, 15,000 alumni, and 900
                                                                        educators. What sets us apart is our presence in
                                                                        all verticals of the education sector.</span>
                                                                </p>
                                                                <p><span style="font-size: 17px; color: #0058a9;"><strong>A
                                                                            Brief History</strong></span></p>
                                                                <p style="text-align: justify;"><span
                                                                        style="font-size: 17px; color: #000000;">The
                                                                        group’s journey in the education sector began in
                                                                        1945 with the launch of a commerce</span></p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vc_column_container col-md-4">
                                                    <div class="wpb_wrapper vc_column-inner">
                                                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                            <div class="wpb_wrapper">
                                                                <iframe width="400" height="280"
                                                                    src="https://www.youtube.com/embed/gC0Y2-4HhIc"
                                                                    frameborder="0"
                                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                                    allowfullscreen="" class="bord_img"></iframe>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row porto-inner-container">
                            <div class="porto-wrap-container container">
                                <div class="row">
                                    <div class="vc_column_container col-md-12">
                                        <div class="wpb_wrapper vc_column-inner">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p style="text-align: justify; margin-top: -35px;"><span
                                                            style="font-size: 17px; color: #000000;">college in
                                                            Kolkata,which is still operational today and has around 7000
                                                            students. In 1974, the group entered the K-12 education
                                                            domain and has continually been expanding its presence since
                                                            then. The group’s foray into management education began in
                                                            2001. In 2015, the first Little One – The Jaipuria Preschool
                                                            was launched. Having covered all learning domains from
                                                            preschools to higher education, the group launched
                                                            Saamarthya Teachers Training Academy of Research (STTAR) in
                                                            2020 to build new-age pedagogical competencies in today’s
                                                            educators.</span></p>
                                                    <p><span style="font-size: 17px; color: #0058a9;"><strong>K-12
                                                                Education</strong></span></p>
                                                    <p style="text-align: justify;"><span
                                                            style="font-size: 17px; color: #000000;">The group has three
                                                            core schools in the cities of Kanpur, Ghaziabad and Lucknow.
                                                            Under the partnership model, we have made a lot of progress
                                                            in the domain of K-12 schools. Starting in the year 2014
                                                            with the launch of the first partner school in Farrukhabad,
                                                            the group has opened partner schools in the cities such as
                                                            Unnao, Alambagh, Sitarganj, Varanasi, Satna, Mirzapur, Rae
                                                            Bareli, Dibiyapur, Naini, Nanpara, Amethi, Sidhauli, and
                                                            Greater Noida among others.</span></p>
                                                    <p><span
                                                            style="font-size: 17px; color: #0058a9;"><strong>Preschools</strong></span>
                                                    </p>
                                                    <p style="text-align: justify;"><span
                                                            style="font-size: 17px; color: #000000;">The group presently
                                                            has 2 core playschools in Kakadeo and Ghaziabad, and 3
                                                            partner playschools in Vikas Nagar, Jajmau and Swaroop Nagar
                                                            in Kanpur.&nbsp;</span></p>
                                                    <p><span style="font-size: 17px; color: #0058a9;"><strong>Management
                                                                Education</strong></span></p>
                                                    <p style="text-align: justify;"><span
                                                            style="font-size: 17px; color: #000000;">Founded in 2001,
                                                            Jaipuria Institute of Management has NAAC Grade ‘A’
                                                            accreditation and offers an AKTU approved 2-year full-time
                                                            MBA program. Jaipuria School of Business, established
                                                            in2008, offers the AICTE-approved PGDM Programme.</span></p>
                                                    <p><span style="font-size: 17px; color: #0058a9;"><strong>Teachers’
                                                                Training Academy</strong></span></p>
                                                    <p style="text-align: justify;"><span
                                                            style="font-size: 17px; color: #000000;">Saamarthya Teachers
                                                            Training Academy of Research (STTAR) has trained tens of
                                                            thousands of teachers across hundreds of schools in
                                                            different aspects of modern pedagogy.</span></p>
                                                    <p><span style="font-size: 17px; color: #0058a9;"><strong>Corporate
                                                                Social Responsibility</strong></span></p>
                                                    <p style="text-align: justify;"><span
                                                            style="font-size: 17px; color: #000000;">Under Corporate
                                                            Social Responsibility, Seth Anandram Jaipuria Group has
                                                            established Smriti Bhawans in different holy cities such as
                                                            Chitrakoot, Vindravan and Haridwar.&nbsp; Jaipuria group
                                                            runs a charitable Eye Hospital for under-privileged people
                                                            in Nawalgarh, Rajasthan, in the name of Seth Anandram
                                                            Jaipuria Eye Hospital which started in 1943 and has treated
                                                            more than 2 lakh patients till now. The Ramdarshan monument
                                                            is one of the attractive places in Chitrakoot run by
                                                            Jaipuria Group.&nbsp;</span></p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <div class="">

                </div>


            </div>



        </div><!-- end main content -->



    </div>
</div>
<!-- es -->
{% endblock %}