{% extends 'Home_layout.html' %}
{% load static %}
{% block smsmain %}
<!-- es -->

<div id="main" class="column1 wide clearfix"><!-- main -->

    <div class="container-fluid">
        <div class="row main-content-wrap">

            <!-- main content -->
            <div class="main-content col-lg-12">


                <div id="content" role="main">

                    <article class="post-2675 page type-page status-publish hentry">

                        <span class="entry-title" style="display: none;">Circular</span><span class="vcard"
                            style="display: none;"><span class="fn"><a
                                    href="https://jaipuriaschoolsbarabanki.com/author/admin/" title="Posts by admin"
                                    rel="author">admin</a></span></span><span class="updated"
                            style="display:none">2022-11-17T08:39:38+00:00</span>
                        <div class="page-content">
                            <div
                                class="vc_row wpb_row overflow-hidden section section-parallax mt-0 mb-0 pb-0 section-no-borders porto-inner-container">
                                <div class="porto-wrap-container container">
                                    <div class="row">
                                        <div class="vc_column_container col-md-12">
                                            <div class="wpb_wrapper vc_column-inner">
                                                <h2 class="word-rotator slide short appear-animation maskUp appear-animation-visible"
                                                    data-appear-animation="maskUp" data-appear-animation-delay="100"
                                                    style="font-size: 32px; text-align: left; animation-delay: 100ms;"
                                                    data-plugin-options="{'waittime': 2500, 'pauseOnHover': false}">
                                                    <span class="word-rotate-prefix"
                                                        style="font-weight:700;font-size:32px !important;">Dear
                                                        Parent,</span> <span class="word-rotator-items"
                                                        style="font-family:Open Sans; width: 3px;"><b
                                                            class="active"></b></span>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_row wpb_row mb-4 overflow-hidden porto-inner-container">
                                <div class="porto-wrap-container container">
                                    <div class="row">
                                        <div class="vc_column_container col-md-12 col-lg-10 col-12 appear-animation maskUp appear-animation-visible"
                                            data-appear-animation="maskUp" data-appear-animation-delay="300"
                                            style="animation-delay: 300ms;">
                                            <div class="wpb_wrapper vc_column-inner">
                                                <div class="wpb_text_column wpb_content_element  featured lead">
                                                    <div class="wpb_wrapper">
                                                        <p>“The school will remain closed till further notice” the
                                                            classes are conducted online as per the schedule.<br>
                                                            The decision taken regarding the examinations that were
                                                            scheduled during this period, will be intimated through sms
                                                            and uploaded on school website too.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_column_container col-md-12 col-lg-2 col-12 appear-animation"
                                            data-appear-animation="fadeIn" data-appear-animation-delay="450">
                                            <div class="wpb_wrapper vc_column-inner">
                                                <div class="vc_btn3-container vc_btn3-inline">
                                                    <a class="vc_btn3 vc_btn3-shape-default btn btn-modern btn-md btn-secondary"
                                                        href="https://jaipuriaschoolsbarabanki.com/admission/"
                                                        title="">Admission Enquiry</a>
                                                </div>
                                                <div class="vc_empty_space" style="height: 32px"><span
                                                        class="vc_empty_space_inner"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                    <div class="">

                    </div>


                </div>



            </div><!-- end main content -->



        </div>
    </div>




</div>
<!-- es -->
{% endblock %}