{% extends 'Student_Layout.html' %}
{% load static %}
{% block student%}
<div class="row">
  <div class="card col-sm-11 my-1 border-0 bg-transparent bg-opacity-25 es-card py-4">
    <div class="row">
      <div class="card col-sm-4 mx-auto my-3 border-0 shadow bg-transparent bg-opacity-10 py-4">

        <h1 class="text-center text-primary fw-semibold"><i class="fa-solid fa-calendar-days fa-xl"></i>
          56</h1>
        <p class="text-center"> Total Attendence</p>
      </div>
      <div class="card col-sm-7 my-3 border-0 shadow bg-transparent bg-opacity-10 py-4">



        <h1 class="text-center text-primary fw-semibold"><i class="fa-solid fa-bell fa-xl"></i> 9</h1>
        <p class="text-center"> Notifications for me </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-sm-11 my-1 border-0 bg-transparent bg-opacity-25 es-card py-4">
    <div class="row">
      <div class="card col-sm-4 mx-auto my-3 border-0 shadow bg-transparent bg-opacity-10 py-4">

        <h1 class="text-center text-primary fw-semibold"><i class="fa-solid fa-person-dress fa-xl"></i>
          1</h1>
        <p class="text-center"> Total Study Learning Material </p>
      </div>
      <div class="card col-sm-7 my-3 border-0 shadow bg-transparent bg-opacity-10 py-4">



        <h1 class="text-center text-primary fw-semibold"><i class="fa-solid fa-users fa-xl"></i> Er. Ashif sir</h1>
        <p class="text-center"> Class Teacher </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}