{% extends 'Teacher_Layout.html' %} {% load static %} {% block teacher %}
<!---Add subjects-->
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Upadte Your Password</h1>
    <form method="post">
      {% csrf_token %} 
      {% if msg %}
      <p class="text-light">{{msg}}</p>

      {% endif %}
      <table class="table">
        <tr>
          <td>Enter your Old Password</td>
          <td><input type="text" name="oldPassword" class="form-control" /></td>
        </tr>
        <tr>
          <td>Enter New Password</td>
          <td><input type="text" name="newPassword" class="form-control" /></td>
        </tr>
        <tr>
          <td>Confirm Password</td>
          <td>
            <input type="password" name="cnfPassword" class="form-control" />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="submit" class="btn btn-success">
              Change Your Password
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

<!--view subjects-->
{% endblock %}
