{% extends 'Teacher_Layout.html' %} {% load static %} {% block teacher %}
<div class="row">
  <div class="card col-sm-11 my-2 border-0 shadow bg-transparent bg-opacity-25 es-card py-4">
    <h1 class="es-font text-center py-5"> Welcome <span class="text-success">Teacher</span> </h1>
  </div>
</div>
<div class="row display-2">
  <div class="card col-sm-11 my-3 border-0 bg-transparent bg-opacity-25 es-card py-4">
    <div class="row">
      <div class="card col-sm-4 mx-auto my-3 border-0 shadow bg-transparent bg-opacity-10 py-4">
        <h1 class="text-center">Total Students</h1>
        <h1 class="text-center text-primary fw-semibold">0</h1>
      </div>
      <div class="card col-sm-7 my-3 border-0 shadow bg-transparent bg-opacity-10 py-4">
        <h1 class="text-center">Total Attendence Today</h1>

        <h1 class="text-center text-primary fw-semibold">0</h1>
      </div>
    </div>
  </div>
</div>
<div class="row display-2">
  <div class="card col-sm-11 my-3 border-0 bg-transparent bg-opacity-25 es-card py-4">
    <div class="row">
      <div class="card col-sm-7 my-3 border-0 shadow bg-transparent bg-opacity-25 py-4">
        <h1 class="text-center">Total Books & Assign ments In SLM</h1>

        <h1 class="text-center text-primary fw-semibold">0</h1>
      </div>
      <div class="card col-sm-4 my-3 mx-auto border-0 shadow bg-transparent bg-opacity-25 py-4">
        <h1 class="text-center">Total Enquiries</h1>

        <h1 class="text-center text-primary fw-semibold">0</h1>
      </div>
    </div>
  </div>
</div>
<div class="row display-2">
  <div class="card col-sm-11 my-3 border-0 bg-transparent bg-opacity-25 es-card py-4">
    <div class="row">
      <div class="card col-sm-4 mx-auto my-3 border-0 shadow bg-transparent bg-opacity-25 py-4">
        <h1 class="text-center">Total Students</h1>

        <h1 class="text-center text-primary fw-semibold">0</h1>
      </div>
      <div class="card col-sm-7 my-3 border-0 shadow bg-transparent bg-opacity-25 py-4">
        <h1 class="text-center">Total Attendence Live</h1>

        <h1 class="text-center text-primary fw-semibold">0</h1>
      </div>
    </div>
  </div>
</div>

{% endblock %}