{% extends 'Layout.html' %} {% load static %} {% block main %}
<div class="row">
    <div class="col-sm-10 mx-auto ">
<form method="post">
  {% csrf_token %}
  <table class="table w-50 table borderd table-striped align-items-center">
    <tr class="my-5">
        <td><label for="sname" class="text-dark">Subject name</label>
        </div></td>
        <td><input
            type="text"
            name="subject_name"
            class="form-control"
            id="sname"
            value="{{ks.subject_name}}"
          /></td>
      </div>
    </tr>
    <tr>
        <td><label for="sclass" class="text-dark">Subject Class</label></td>
        <td><input
            type="text"
            name="subject_class"
            class="form-control"
            id="cclass"
            value="{{ks.subject_class}}"
          />
        </td>
    </tr>
    <tr >
        <td><label for="sbook" class="text-dark">Subject Book</label></td>
        <td><input
            type="text"
            name="subject_book"
            class="form-control"
            id="sbook"
            value="{{ks.subject_book}}"
          /></td>
    </tr>
    <tr style="margin: 20px">
        <td><label for="steacher" class="text-dark">Subject Teacher</label></td>
        <td><input
            type="text"
            name="subject_techer"
            class="form-control"
            id="steacher"
            value="{{ks.subject_techer}}"
          /></td>
      
    </tr>
    <tr>
        <td colspan="2"><button class="btn btn-success" type="submit">Save Class</button></td>
    </tr>
    
  </table>
</form>
</div>
</div>
{% endblock %}
 
